name: Docker
on:
   workflow_call:
   
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: setup Docker Build
      uses: docker/setup-buildx-action@v3.11.1
    
    - name: Download a Build Artifact
      uses: actions/download-artifact@v6.0.0
      with:
         name: programa
         
    
    - name: Docker Login
      uses: docker/login-action@v3.6.0
      with:
         username: davipo2001
         password: ${{ secrets.SENHA_DOCKERHUB }}
      
    - name: Build and push Docker images
      uses: docker/build-push-action@v6.18.0
      with:
         context: .
         file: ./Dockerfile
         push: true   
         tags: davipo2001/teste:${{github.ref_name}}
      
